openai>=1.0.0
spotipy>=2.23.0
python-dotenv
fuzzywuzzy
spacy
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl
speechrecognition
async_timeout
pyttsx3
pyaudio
python-Levenshtein
git+https://github.com/openai/whisper.git
ffmpeg-python
sounddevice
scipy
torch --index-url https://download.pytorch.org/whl/cpupip install git+https://github.com/openai/whisper.git